<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Plano</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#radius">Radius</a>
  </li>
</ul>

<div class="tab-content" id="planos-tabs">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<div class="card">
  <%= render 'shared/show_header', {object: @plano, titulo: "Plano de Acesso "+ @plano.nome} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= render 'shared/field_card', {campo: "Mensalidade", valor: @plano.mensalidade} %>
      <%= render 'shared/field_card', {campo: "Download", valor: @plano.download.to_s + " Mbps"} %>
      <%= render 'shared/field_card', {campo: "Upload", valor: @plano.upload.to_s + " Mbps"} %>
      <%= render 'shared/field_card', {campo: "Burst", valor: @plano.burst} %>
    </div>
  </div>
</div>

</div>
<div class="tab-pane fade" id="radius" role="tabpanel" aria-labelledby="radius-tab">
  <h3><%= @plano.nome %></h3>
  <%= render 'plano_verificar_atributos/table' %>
  <%= render 'plano_enviar_atributos/table' %>
</div>

