
<%= simple_form_for(@atendimento_detalhe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :atendimento_id %>
    <%= f.input :tipo, collection: AtendimentoDetalhe.tipos, label_method: :first, value_method: :first %>
    <%= f.association :atendente, label_method: :primeiro_nome, readonly: true %>
    <%= f.input :descricao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
