<div class="card">
  <%= render '/shared/table_header', {object: @conexao_verificar_atributos, titulo: "Radius Verificar", search_string: :atributo_cont} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Atributo</th>
            <th>Op</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <% @conexao_verificar_atributos.each do |verificar_atributo| %>
            <tr>
              <td><%= verificar_atributo.conexao.usuario %></td>
              <td><%= link_to verificar_atributo.atributo, verificar_atributo %></td>
              <td><%= verificar_atributo.op %></td>
              <td><%= verificar_atributo.valor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>