<div class="card">
  <%= render '/shared/table_header', { titulo: "Trâfego" } %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dia</th>
            <th>Download</th>
            <th>Upload</th>
            <th>Ratio</th>
          </tr>
        </thead>

        <tbody>
          <% @conexao.rad_accts.trafego.each do |trafego| %>
            <tr>
              <td><%= l(trafego.dia) %></td>
              <td><%= number_to_human_size(trafego.download) %></td>
              <td><%= number_to_human_size(trafego.upload) %></td>
              <td><%= number_to_percentage(trafego.upload * 100 / trafego.download) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
