<p id="notice"><%= notice %></p>

<p>
  <strong>Emissao:</strong>
  <%= @nf21.emissao %>
</p>

<p>
  <strong>Date,:</strong>
  <%= @nf21.date, %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @nf21.numero %>
</p>

<p>
  <strong>Integer,:</strong>
  <%= @nf21.integer, %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @nf21.valor %>
</p>

<p>
  <strong>Decimal,:</strong>
  <%= @nf21.decimal, %>
</p>

<p>
  <strong>Cadastro:</strong>
  <%= @nf21.cadastro %>
</p>

<p>
  <strong>Text,:</strong>
  <%= @nf21.text, %>
</p>

<p>
  <strong>Mestre:</strong>
  <%= @nf21.mestre %>
</p>

<p>
  <strong>Text:</strong>
  <%= @nf21.text %>
</p>

<%= link_to 'Edit', edit_nf21_path(@nf21) %> |
<%= link_to 'Back', nf21s_path %>
