
<%= simple_form_for(@ip_rede) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   <div class="row">
      <div class="col">
        <%= f.association :ponto, collection: Ponto.ativo.order(:nome), label_method: :nome %>
      </div>
      <div class="col">
        <%= f.input :rede, as: :string %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= button_tag( :class => "btn btn-primary") do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
    <% end %>
<% end %>
