<div class="card">
  <%= render '/shared/table_header', {object: @pagamento_perfis, titulo: "Perfis de Pagamento", search_string: :nome_cont, query: @q} %>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Banco</th>
          <th>Convênio</th>
        </tr>
      </thead>
      <tbody>
        <% @pagamento_perfis.each do |perfil| %>
          <tr>
            <td><%= link_to perfil.nome, perfil %></td>
            <td><%= perfil.tipo %></td>
            <td><%= perfil.banco %></td>
            <td><%= perfil.cedente %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
