<p id="notice"><%= notice %></p>

<h1>Pagamento Perfis</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Cedente</th>
      <th>Agencia</th>
      <th>Conta</th>
      <th>Carteira</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagamento_perfis.each do |pagamento_perfil| %>
      <tr>
        <td><%= pagamento_perfil.nome %></td>
        <td><%= pagamento_perfil.tipo %></td>
        <td><%= pagamento_perfil.cedente %></td>
        <td><%= pagamento_perfil.agencia %></td>
        <td><%= pagamento_perfil.conta %></td>
        <td><%= pagamento_perfil.carteira %></td>
        <td><%= link_to 'Show', pagamento_perfil %></td>
        <td><%= link_to 'Edit', edit_pagamento_perfil_path(pagamento_perfil) %></td>
        <td><%= link_to 'Destroy', pagamento_perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagamento Perfil', new_pagamento_perfil_path %>
