<div class="card">
  <%= render '/shared/table_header', {object: @atendimentos, search_string: :pessoa_nome_cont, params: @params} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Aberto Em</th>
            <th>Pessoa</th>
            <th>Classificação</th>
            <th>Responsável</th>
          </tr>
        </thead>

        <tbody>
          <% @atendimentos.each do |atendimento| %>
            <tr>
              <td><%= link_to atendimento.created_at, atendimento %></td>
              <td><%= link_to atendimento.pessoa.nome, atendimento.pessoa %></td>
              <td><%= atendimento.classificacao.nome %></td>
              <td><%= atendimento.responsavel.primeiro_nome %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @atendimentos %>
</div>
