<p id="notice"><%= notice %></p>

<h1>Atendimentos</h1>

<table>
  <thead>
    <tr>
      <th>Pessoa</th>
      <th>Classificaco</th>
      <th>Responsavel</th>
      <th>Fechamento</th>
      <th>Contrato</th>
      <th>Conexao</th>
      <th>Fatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atendimentos.each do |atendimento| %>
      <tr>
        <td><%= atendimento.pessoa %></td>
        <td><%= atendimento.classificaco %></td>
        <td><%= atendimento.responsavel %></td>
        <td><%= atendimento.fechamento %></td>
        <td><%= atendimento.contrato %></td>
        <td><%= atendimento.conexao %></td>
        <td><%= atendimento.fatura %></td>
        <td><%= link_to 'Show', atendimento %></td>
        <td><%= link_to 'Edit', edit_atendimento_path(atendimento) %></td>
        <td><%= link_to 'Destroy', atendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atendimento', new_atendimento_path %>
