<div class="row">
  <div class="card col-sm">
    <%= render 'shared/show_header', {object: @atendimento, titulo: 'Atendimento', params: @params} %>
    <div class="card-body">
      <div class="card-columns" style="column-count: 3">
        <%= link_to @atendimento.pessoa do %>
          <%= render 'shared/field_card', {campo: "Pessoa", valor: @atendimento.pessoa.nome} %>
        <% end %>
        <%= render 'shared/field_card', {campo: "Classificação", valor: @atendimento.classificacao.nome} %>
        <%= render 'shared/field_card', {campo: "Responsável", valor: @atendimento.responsavel.primeiro_nome} %>
        <%= render 'shared/field_card', {campo: "Aberto Em", valor: @atendimento.created_at} %>
        <%= render 'shared/field_card', {campo: "Fechado Em", valor: @atendimento.fechamento} %>
        <%= render 'shared/field_card', {campo: "Contrato", valor: @atendimento.contrato&.id} %>
        <%= render 'shared/field_card', {campo: "Conexão", valor: @atendimento.conexao&.ip.to_s} %>
        <%= render 'shared/field_card', {campo: "Fatura", valor: @atendimento.fatura&.id} %>
      </div>
    </div>
  </div>
</div>
<%= render 'atendimento_detalhes/table' %>
