<div class="row">
  <div class="card col-sm">
    <%= render 'shared/show_header', {object: @atendimento, titulo: 'Atendimento', params: @params} %>
    <div class="card-body">
      <div class="card-columns" style="column-count: 3">
        <%= link_to @atendimento.pessoa do %>
          <%= render 'shared/field_card', {campo: "Pessoa", valor: @atendimento.pessoa.nome} %>
        <% end %>
        <%= render 'shared/field_card', {campo: "Classificação", valor: @atendimento.classificacao.nome} %>
        <%= render 'shared/field_card', {campo: "Responsável", valor: @atendimento.responsavel.primeiro_nome} %>
        <%= render 'shared/field_card', {campo: "Aberto Em", valor: l(@atendimento.created_at, format: :short) } %>
        <%= render 'shared/field_card', {campo: "Fechado Em", valor: @atendimento.fechamento} %>
        <% if @atendimento.contrato.present? %>
          <%= render 'shared/field_card', {campo: "Contrato", valor: @atendimento.contrato&.id} %>
        <% end %>
        <% if @atendimento.conexao.present? %>
        <%= render 'shared/field_card', {campo: "Conexão", valor: @atendimento.conexao&.ip.to_s} %>
        <% end %>
        <% if @atendimento.fatura.present? %>
          <%= render 'shared/field_card', {campo: "Fatura", valor: @atendimento.fatura&.id} %>
        <% end %>
      </div>
      <% if can? :encerrar, @atendimento %>
        <%= link_to encerrar_atendimento_path do %>
          <%= button_tag("Encerrar", {:class => "btn btn-warning"}) do %>
            <i class="fas fa-door-closed" aria-hidden="true"></i> Encerrar
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'atendimento_detalhes/table' %>
