<div class="row">
  <div class="card col-lg">
    <%= render 'shared/show_header', {object: @fibra_caixa, titulo: "Caixa de Atendimento #{@fibra_caixa.nome}"} %>
    <div class="card-body">
      <div class="card-columns" style="column-count: 2">
        <%= link_to @fibra_caixa.fibra_rede do %>
          <%= render 'shared/field_card', {campo: "Rede", valor: @fibra_caixa.fibra_rede.nome} %>
        <% end %>
        <%= render 'shared/field_card', {campo: "Capacidade", valor: "#{@fibra_caixa.conexoes.count}/#{@fibra_caixa.capacidade}"} %>
        <%= render 'shared/field_card', {campo: "Cor da Fibra", valor: @fibra_caixa.fibra_cor} %>
        <%= link_to @fibra_caixa.logradouro do %>
          <%= render 'shared/field_card', {campo: "Logradouro",
            valor: @fibra_caixa.logradouro.present? ? @fibra_caixa.logradouro.nome : ""} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card col-lg-auto">
    <p align=center>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x310&center=#{@fibra_caixa.latitude},#{@fibra_caixa.longitude}&markers=|#{@fibra_caixa.latitude},#{@fibra_caixa.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
    </p>
  </div>
</div>
<div class="card">
  <%= render 'conexoes/table', {exclude: ['ponto']} %>
</div>
