
<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-8">
        <%= f.input :nome %>
      </div>
      <div class="col">
        <%= f.input :tipo, collection: Pessoa.tipos.keys %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :cpf %>
      </div>
      <div class="col">
        <%= f.input :cnpj %>
      </div>
      <div class="col">
        <%= f.input :rg %>
      </div>
      <div class="col">
        <%= f.input :ie %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :nascimento, start_year: Date.today.year - 100, end_year: Date.today.year - 15 %>
      </div>
      <div class="col">
        <%= f.input :nomemae %>
      </div>
    </div>
    <div class="row">
      <div class="col col-6">
        <%= f.association :logradouro, label_method: :endereco %>
      </div>
      <div class="col">
        <%= f.input :numero %>
      </div>
      <div class="col">
        <%= f.input :complemento %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :email %>
      </div>
      <div class="col">
        <%= f.input :telefone1 %>
      </div>
      <div class="col">
        <%= f.input :telefone2 %>
      </div>
    </div>
  </div>

  <div class="form-actions">
  <%= button_tag( :class => "btn btn-primary") do %>
    <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
  <% end %>
</div>
<% end %>
