<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pessoa.tipo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pessoa.cnpj %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pessoa.rg %>
</p>

<p>
  <strong>Ie:</strong>
  <%= @pessoa.ie %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @pessoa.nascimento %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @pessoa.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @pessoa.complemento %>
</p>

<p>
  <strong>Nomemae:</strong>
  <%= @pessoa.nomemae %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Telefone1:</strong>
  <%= @pessoa.telefone1 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @pessoa.telefone2 %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
