<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#pessoa">Pessoa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#contratos">Contratos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#conexoes">Conexões</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="pessoa" role="tabpanel" aria-labelledby="pessoa-tab">
    <div class="card">
      <%= render 'shared/show_header', {object: @pessoa} %>
      <div class="card-body">
        <div class="card-columns" style="column-count: 4">
          <%= render 'shared/field_card', {campo: "Tipo", valor: @pessoa.tipo} %>
          <%= render 'shared/field_card', {campo: "CPF / CNPJ", valor: @pessoa.cpf_cnpj } %>
          <%= render 'shared/field_card', {campo: "RG / IE", valor: @pessoa.rg_ie } %>
          <%= render 'shared/field_card', {campo: "Nascimento", valor: @pessoa.nascimento.strftime("%d/%m/%Y") + " ("+ @pessoa.idade.to_s + " anos)"} %>
          <%= render 'shared/field_card', {campo: "Endereço", valor: @pessoa.endereco + '<br>'.html_safe+@pessoa.logradouro.bairro.nome_cidade_uf} %>
          <%= render 'shared/field_card', {campo: "Nome da Mãe", valor: @pessoa.nomemae} %>
          <%= render 'shared/field_card', {campo: "E-mail", valor: @pessoa.email} %>
          <%= render 'shared/field_card', {campo: "Telefone 1", valor: @pessoa.telefone1} %>
          <%= render 'shared/field_card', {campo: "Telefone 2", valor: @pessoa.telefone2} %>
        </div>
      </div>
        <%= @pessoa.rg_imagem.attached? ? image_tag(@pessoa.rg_imagem, :width => "33%") : '' %>
    </div>
  </div>
  <div class="tab-pane fade" id="contratos" role="tabpanel" aria-labelledby="contratos-tab">
    <h3><%= @pessoa.nome %></h3>
    <%= render 'contratos/table', {exclude: "pessoa"} %>
  </div>
  <div class="tab-pane fade" id="conexoes" role="tabpanel" aria-labelledby="conexoes-tab">
    <h3><%= @pessoa.nome %></h3>
    <%= render 'conexoes/table', {exclude: "pessoa"} %>
  </div>
</div>
