    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><%= link_to "Principal", root_path %> </li>
      <li><%= link_to "Pessoas", pessoas_path %> </li>
      <li><%= link_to "Estados", estados_path %> </li>
      <li><%= link_to "Concentradores", servidores_path %> </li>
      <li><%= link_to "Planos", planos_path %> </li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="">Nav item again</a></li>
      <li><a href="">One more nav</a></li>
      <li><a href="">Another nav item</a></li>
    </ul>
