    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><%= link_to "Principal", root_path %> </li>
      <li><%= link_to "Pessoas", pessoas_path %> </li>
      <li><%= link_to "Estados", estados_path %> </li>
      <li><%= link_to "Concentradores", servidores_path %> </li>
      <li><%= link_to "Planos", planos_path %> </li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><%= link_to "Conexões", conexoes_path %></li>
      <li><%= link_to "Suspensos", suspenso_conexoes_path %></li>
    </ul>

    <ul class="nav nav-sidebar">
       <li class="active"><a href="#">Financeiro <span class="sr-only">(current)</span></a></li>
     <li><%= link_to "Perfis", pagamento_perfis_path %></li>
      <li><%= link_to "Retornos", retornos_path %></li>
    </ul>
