<div class="card-header">
<div class="row">
  <div class="col-sm">
    <h3><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe, new_path, class: "btn btn-sm btn-outline-dark" %>
    <%= titulo %></h3>
  </div>
  <div class="col-sm" align=right>
  <% if defined?(@q) %>
    <%= search_form_for(@q, url: request.original_url) do |f| %>
      <%= f.search_field search_field %>
      <%= button_tag( :class => "btn btn-sm btn-outline-dark") do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
      <%= link_to '<i class="fa fa-file-excel-o" aria-hidden="true"></i>'.html_safe,
        current_page_params.merge(format: :csv), class: "btn btn-sm btn-outline-dark" %>
    <% end %>
  <% end %>
  </div>
</div>
</div>
