<div class="card">
  <div class="card-header">
    <h3><%= index_button(servidores_path) %>
    <%= edit_button(edit_servidor_path(@servidor)) %> Concentrador <%= @servidor.nome %>
    <button class="btn btn-sm <%= online_button(@servidor.ping?) %>"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></button>
    </h3>
  </div>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
        <div class="card border-dark">
          <div class="card-header">Ativo</div>
          <div class="card-text" align="right"><br><%= @servidor.ativo %></div>
        </div>
        <div class="card border-dark">
          <div class="card-header">IP</div>
          <div class="card-text" align="right"><br><%= @servidor.ip %></div>
        </div>
        <div class="card border-dark">
          <div class="card-header">Usuário</div>
          <div class="card-text" align="right"><br><%= @servidor.usuario %></div>
        </div>
        <div class="card border-dark">
          <div class="card-header">Porta API</div>
          <div class="card-text" align="right"><br><%= @servidor.api_porta %>&nbsp</div>
        </div>
        <div class="card border-dark">
          <div class="card-header">Porta SSH</div>
          <div class="card-text" align="right"><br><%= @servidor.ssh_porta %>&nbsp</div>
        </div>
        <div class="card border-dark">
          <div class="card-header">Porta SNMP</div>
          <div class="card-text" align="right"><br><%= @servidor.snmp_porta %>&nbsp</div>
        </div>
        <div class="card border-dark">
          <div class="card-header">SNMP Comunidade</div>
          <div class="card-text" align="right"><br><%= @servidor.snmp_comunidade %>&nbsp</div>
        </div>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>Status</h3>
  </div>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <% @servidor.system_info.each do |info, value| %>
        <div class="card border-dark">
          <div class="card-header"><%= info.titleize %></div>
          <div class="card-text" align="right"><br><%= value %>&nbsp</div>
        </div>
      <% end %>
      <div class="card border-dark">
        <div class="card-header">Usuários PPPoE</div>
        <div class="card-text" align="right"><br><%= @servidor.ppp_users %>&nbsp</div>
      </div>
      <div class="card border-dark">
        <div class="card-header">Usuários Hotspot</div>
        <div class="card-text" align="right"><br><%= @servidor.hotspot_users %>&nbsp</div>
      </div>
    </div>
  </div>
</div>
