<div class="card">
  <% params = defined?(params) ? params : {} %>
  <%= render '/shared/table_header', {object: @fibra_redes, titulo: "Redes de Fibra"} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Rede</th>
            <th>Ponto de Acesso</th>
            <th>Conexões</th>
          </tr>
        </thead>
        <tbody>
          <% @fibra_redes.each do |rede| %>
            <tr>
              <td><%= link_to rede.nome, rede %></td>
              <td><%= link_to rede.ponto.nome, rede.ponto %></td>
              <td><%= rede.conexoes.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @fibra_redes %>
  </div>
</div>
