<div class="card">
  <% params = defined?(params) ? params : {} %>
  <%= render '/shared/table_header', {object: @logradouros, search_string: :nome_cont, params: params} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>CEP</th>
          </tr>
        </thead>
        <tbody>
          <% @logradouros.each do |logradouro| %>
            <tr>
              <td><%= link_to logradouro.nome, logradouro %></td>
              <td><%= logradouro.bairro.nome_cidade_uf %></td>
              <td><%= logradouro.cep %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @logradouros %>
  </div>
</div>
