<div class="card">
  <div class="card-header">
    <h3><%= link_to '<i class="fa fa-arrow-left" aria-hidden="true"></i>'.html_safe, @fatura, class: "btn btn-sm btn-outline-dark" %>
        Liquidar Fatura</h3>
  </div>
  <div class="card-body">
    <%= simple_form_for(@fatura) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="card-columns" style="column-count: 3">
          <%= link_to @fatura.contrato.pessoa do %>
            <%= render 'shared/field_card', {campo: "Assinante", valor: @fatura.contrato.pessoa.nome} %>
          <% end %>
          <%= link_to @fatura.contrato do %>
            <%= render 'shared/field_card', {campo: "Contrato", valor: @fatura.contrato.id} %>
          <% end %>
          <%= link_to @fatura.contrato.plano do %>
            <%= render 'shared/field_card', {campo: "Plano", valor: @fatura.contrato.plano.nome} %>
          <% end %>
          <%= render 'shared/field_card', {campo: "Parcela", valor: @fatura.parcela} %>
          <%= render 'shared/field_card', {campo: "Vencimento", valor: l(@fatura.vencimento)} %>
          <%= render 'shared/field_card', {campo: "Valor", valor: number_to_currency(@fatura.valor)} %>
      </div>
      <div class="card-columns" style="column-count: 3">
      <div class="form-inputs">
        <%= f.input :liquidacao, as: :string, :label => "Data de Pagamento" %>   
        <%= f.input :meio_liquidacao, :label => "Forma de Pagamento", collection: Fatura.meio_liquidacoes.keys %>
        <%= f.input :valor_liquidacao, :label => "Valor a Receber" %>
      </div>
      </div>
      <div class="actions">
        <%= button_tag( :class => "btn btn-primary") do %>
            <i class="fa fa-money" aria-hidden="true"></i> Receber
        <% end %>
        </div>
    <% end %>
  </div>
</div>
<script>
  calcular_total = function(valor, juros, multa, desconto, vencimento, liquidacao) {
    var dias;
    var dLiquidacao = Date.parse(liquidacao)
    dias = Math.floor((Date.parse(liquidacao) - Date.parse(vencimento)) / (1000 * 3600 * 24));
    if (dias > 0) {
      return Math.round(((1 + multa) * valor + (juros / 30 * dias) * valor) * 100)/100;
    } else {
      return valor - desconto;
    }
  };

  $('#fatura_liquidacao').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'dd/mm/yyyy',
    locale: 'pt-BR'
  }).on('change', function (e) { 
    $('#fatura_valor_liquidacao').val(calcular_total(
        <%= @fatura.valor %>,
        0.01, 0.02,
        <%= @fatura.contrato.plano.desconto %>,
        '<%= @fatura.vencimento %>',
        $(this).datepicker('getDate')
    ))
  });
</script>