    <div class="card">
      <%= render 'shared/show_header', {object: @fatura, titulo: @fatura.contrato.pessoa.nome} %>
      <div class="card-body">
        <div class="card-columns" style="column-count: 3">
          <%= link_to @fatura.contrato.pessoa do %>
            <%= render 'shared/field_card', {campo: "Assinante", valor: @fatura.contrato.pessoa.nome} %>
          <% end %>
          <%= link_to @fatura.contrato do %>
            <%= render 'shared/field_card', {campo: "Contrato", valor: @fatura.contrato.id} %>
          <% end %>
          <%= link_to @fatura.contrato.plano do %>
            <%= render 'shared/field_card', {campo: "Plano", valor: @fatura.contrato.plano.nome} %>
          <% end %>
          <%= render 'shared/field_card', {campo: "Parcela", valor: @fatura.parcela} %>
          <%= render 'shared/field_card', {campo: "Vencimento", valor: l(@fatura.vencimento)} %>
          <%= render 'shared/field_card', {campo: "Valor", valor: number_to_currency(@fatura.valor)} %>
          <%= render 'shared/field_card', {campo: "Nosso Número", valor: @fatura.nossonumero} %>
          <%= render 'shared/field_card', {campo: "Período",
            valor: l(@fatura.periodo_inicio, default: "") +" - "+ l(@fatura.periodo_fim, default: "")} %>
          <%= render 'shared/field_card', {campo: "Liquidação", valor: l(@fatura.liquidacao, default: "")} %>
          <%= render 'shared/field_card', {campo: "Valor Liquidação", valor: number_to_currency(@fatura.valor_liquidacao)} %>
          <%= render 'shared/field_card', {campo: "Meio de Liquidação", valor: @fatura.meio_liquidacao} %>
          <%= render 'shared/field_card', {campo: "Vencimento Original", valor: l(@fatura.vencimento_original, default: "")} %>
          <%= render 'shared/field_card', {campo: "Valor Original", valor: number_to_currency(@fatura.valor_original)} %>
        </div>
      </div>
    </div>
  </div>