<div class="card">
  <%= render 'shared/show_header', {object: @cidade} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= link_to @cidade.estado do %>
        <%= render 'shared/field_card', {campo: "Estado", valor: @cidade.estado.nome} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "IBGE", valor: @cidade.ibge} %>
    </div>
  </div>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#bairros">Bairros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#conexoes">Logradouros</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show <%= params[:tab] == "bairros" ? "": "show active" %>" id="bairros"
    role="tabpanel" aria-labelledby="bairros-tab">
    <div class="card">
      <%= render 'bairros/table', bairros: @bairros %>
    </div>
  </div>
  <div class="tab-pane fade <%= params[:tab] == "logradouros" ? "show active": "" %>" id="logradouros"
    role="tabpanel" aria-labelledby="logradouros-tab">
    <%= render 'logradouros/table' %>
  </div>
</div>
