<div class="card">
  <%= render 'shared/show_header', {object: @cidade} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= link_to @cidade.estado do %>
        <%= render 'shared/field_card', {campo: "Estado", valor: @cidade.estado.nome} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "IBGE", valor: @cidade.ibge} %>
    </div>
  </div>
  <%= render 'bairros/table', bairros: @bairros %>
</div>
