<div class="card">
  <%= render '/shared/table_header', {object: @cidades, titulo: "SICI", search_string: :nome_cont} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan=2></th>
            <th class="text-center" colspan=2>Rádio</th>
            <th class="text-center" colspan=2>Fibra</th>
          <tr>
            <th>Município</th>
            <th>IBGE</th>
            <th>Física</th>
            <th>Jurídica</th>
            <th>Física</th>
            <th>Jurídica</th>
          </tr>
        </thead>
        <tbody>
          <% @sici.each do |cidade| %>
            <tr>
              <td><%= link_to cidade.nome_uf, cidade %></td>
              <td><%= cidade.ibge %></td>
              <td><%= cidade.quantas_conexoes("Pessoa Física", :Radio) %></td>
              <td><%= cidade.quantas_conexoes("Pessoa Jurídica", :Radio) %></td>
              <td><%= cidade.quantas_conexoes("Pessoa Física", :Fibra) %></td>
              <td><%= cidade.quantas_conexoes("Pessoa Jurídica", :Fibra) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan=2>Total</th>
            <th><%= @conexoes.pessoa_fisica.radio.count %></th>
            <th><%= @conexoes.pessoa_juridica.radio.count %></th>
            <th><%= @conexoes.pessoa_fisica.fibra.count %></th>
            <th><%= @conexoes.pessoa_juridica.fibra.count %></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>