<div class="card">
  <%= render '/shared/table_header', {object: @liquidacoes, titulo: "Liquidações"} %>
  <div class="card-body">
    <%= column_chart @chart %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <% if params.key?(:mes) %>
              <th>Mês</th>
            <% elsif params.key?(:ano) %>
              <th>Ano</th>
            <% else %>
              <th>Data</th>
            <% end %>
            <th class="text-center">Pagamentos</th>
            <th class="text-right">Valor Total</th>
          </tr>
        </thead>

        <tbody>
          <% @liquidacoes.each do |liquidacao| %>
            <tr>
              <% if params.key?(:mes) %>
                <td><%= link_to Date::MONTHNAMES[liquidacao.mes], liquidacao_path(liquidacao.mes) %></td>
              <% elsif params.key?(:ano) %>
                <td><%= link_to liquidacao.ano, liquidacoes_path(:ano => liquidacao.ano, :mes => 1) %></td>
              <% else %>
                <td><%= link_to l(liquidacao.data.to_date), liquidacao_path(liquidacao.data) %></td>
              <% end %>
              <td class="text-center"><%= number_with_delimiter(liquidacao.liquidacoes) %></td>
              <td class="text-right"><%= number_to_currency(liquidacao.valor) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% #paginate @liquidacoes %>
    </div>
  </div>
</div>
<div class="card">
</div>