<div class="card">
  <%= render '/shared/table_header', {object: @pontos, titulo: "Pontos de Acesso", search_string: :nome_cont, query: @q} %>
  <div class="card-body">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>SSID</th>
          <th>Frequência</th>
          <th>Conexões</th>
          <th>Bloqueados</th>
          <% if !defined?(exclude) or exclude != 'equipamento' %>
            <th>Equipamento</th>
          <% end %>
          <% if !defined?(exclude) or exclude != 'servidor' %>
            <th>Servidor</th>
          <% end %>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        <% @pontos.each do |ponto| %>
          <tr>
            <td><%= link_to ponto.nome, ponto %></td>
            <td><%= ponto.ssid %></td>
            <td><%= ponto.frequencia_text %></td>
            <td><%= ponto.conexoes.count %></td>
            <td><%= ponto.conexoes.bloqueado.count  %></td>
            <% if !defined?(exclude) or exclude != 'equipamento' %>
              <td><%= ponto.equipamento  %></td>
            <% end %>
            <% if !defined?(exclude) or exclude != 'servidor' %>
              <td><%= link_to ponto.servidor.nome, ponto.servidor %></td>
            <% end %>
            <td><%= ponto.ip %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @pontos %>
  </div>
</div>
