<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link <%= params[:tab] == "conexoes" ? "": "active" %>" data-toggle="tab"
      href="#ponto">Ponto de Acesso</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= params[:tab] == "conexoes" ? "active": "" %>" data-toggle="tab"
      href="#conexoes">Conexões</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show <%= params[:tab] == "conexoes" ? "": "show active" %>" id="ponto" role="tabpanel" aria-labelledby="ponto-tab">
    <div class="row">
    <div class="card">
      <%= render 'shared/show_header', {object: @ponto, titulo: "Ponto de Acesso "+ @ponto.nome} %>
      <div class="card-body">
        <div class="card-columns" style="column-count: 4">
          <%= render 'shared/field_card', {campo: "Sistema", valor: @ponto.sistema} %>
          <%= render 'shared/field_card', {campo: "Tecnologia", valor: @ponto.tecnologia} %>
          <% if @ponto.ssid.present? %>
            <%= render 'shared/field_card', {campo: "SSID", valor: @ponto.ssid} %>
          <% end %>
          <%= link_to @ponto.servidor do %>
            <%= render 'shared/field_card', {campo: "Servidor", valor: @ponto.servidor.nome} %>
          <% end %>
          <%= link_to 'http://'+@ponto.ip.to_s, target: "_blank" do %>
            <%= render 'shared/field_card', {campo: "IP", valor: @ponto.ip} %>
          <% end %>
          <%= render 'shared/field_card', {campo: "Usuário", valor: @ponto.usuario} %>
          <%= render 'shared/field_card', {campo: "Conexões", valor: @ponto.conexoes.count} %>
          <%= render 'shared/field_card', {campo: "Bloqueados", valor: @ponto.conexoes.bloqueado.count} %>
          <% if @ponto.frequencia.present? %>
            <%= render 'shared/field_card', {campo: "Frequência", valor: @ponto.frequencia.to_s + " Mhz"} %>
            <%= render 'shared/field_card', {campo: "Largura Canal", valor: @ponto.canal_tamanho.to_s + " Mhz"} %>
          <% end %>
          <%= render 'shared/field_card', {campo: "Equipamento", valor: @ponto.equipamento} %>
        </div>
        <div class="card-columns" style="column-count: 1">
          <%= link_to "http://maps.google.com/maps?#{@ponto.google_maps_pins}&z=18", target: "_blank" do %>
            <p align=center>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?maptype=hybrid&size=1200x400&#{@ponto.google_maps_pins}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
            </p>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade <%= params[:tab] == "conexoes" ? "show active": "" %>" id="conexoes" role="tabpanel" aria-labelledby="conexoes-tab">
    <h3><%= @ponto.nome %></h3>
    <%= render 'conexoes/table', {exclude: "ponto"} %>
  </div>
</div>
