<div class="card">
  <%= render '/shared/table_header', { titulo: "Autenticação" } %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Resultado</th>
            <th>Data</th>
          </tr>
        </thead>

        <tbody>
          <% @autenticacoes.each do |autenticacao| %>
            <tr>
              <td><%= link_to autenticacao.username, autenticacao.conexao %></td>
              <td><%= autenticacao.reply %></td>
              <td><%= autenticacao.authdate %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @autenticacoes, :params => {:tab => "autenticacao"} %>
</div>