
<%= simple_form_for(@contrato) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :pessoa, label_method: :nome %>
    <%= f.association :plano, label_method: :nome %>
    <%= f.input :status %>
    <%= f.input :dia_vencimento %>
    <%= f.input :adesao %>
    <%= f.input :valor_instalacao %>
    <%= f.input :numero_conexoes %>
    <%= f.input :cancelamento %>
    <%= f.input :emite_nf %>
    <%= f.input :primeiro_vencimento %>
    <%= f.input :prazo_meses %>
  </div>

  <div class="actions">
    <%= button_tag( :class => "btn btn-primary") do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar
    <% end %>
  </div>
<% end %>
