<p id="notice"><%= notice %></p>

<h1>Retornos</h1>

<table>
  <thead>
    <tr>
      <th>Pagamento perfil</th>
      <th>Data</th>
      <th>Sequencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retornos.each do |retorno| %>
      <tr>
        <td><%= retorno.pagamento_perfil %></td>
        <td><%= retorno.data %></td>
        <td><%= retorno.sequencia %></td>
        <td><%= link_to "Show", retorno %></td>
        <td><%= link_to "Edit", edit_retorno_path(retorno) %></td>
        <td><%= link_to "Destroy", retorno, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Retorno", new_retorno_path %>
