<p id="notice"><%= notice %></p>

<h1>Os</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Classificao</th>
      <th>Pessoa</th>
      <th>Conexao</th>
      <th>Aberto por</th>
      <th>Responsavel</th>
      <th>Tecnico 1</th>
      <th>Tecnico 2</th>
      <th>Fechamento</th>
      <th>Descricao</th>
      <th>Encerramento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @os.each do |os| %>
      <tr>
        <td><%= os.tipo %></td>
        <td><%= os.classificao %></td>
        <td><%= os.pessoa %></td>
        <td><%= os.conexao %></td>
        <td><%= os.aberto_por %></td>
        <td><%= os.responsavel %></td>
        <td><%= os.tecnico_1 %></td>
        <td><%= os.tecnico_2 %></td>
        <td><%= os.fechamento %></td>
        <td><%= os.descricao %></td>
        <td><%= os.encerramento %></td>
        <td><%= link_to 'Show', os %></td>
        <td><%= link_to 'Edit', edit_os_path(os) %></td>
        <td><%= link_to 'Destroy', os, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Os', new_os_path %>
