<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @os.tipo %>
</p>

<p>
  <strong>Classificao:</strong>
  <%= @os.classificao %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @os.pessoa %>
</p>

<p>
  <strong>Conexao:</strong>
  <%= @os.conexao %>
</p>

<p>
  <strong>Aberto por:</strong>
  <%= @os.aberto_por %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @os.responsavel %>
</p>

<p>
  <strong>Tecnico 1:</strong>
  <%= @os.tecnico_1 %>
</p>

<p>
  <strong>Tecnico 2:</strong>
  <%= @os.tecnico_2 %>
</p>

<p>
  <strong>Fechamento:</strong>
  <%= @os.fechamento %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @os.descricao %>
</p>

<p>
  <strong>Encerramento:</strong>
  <%= @os.encerramento %>
</p>

<%= link_to 'Edit', edit_os_path(@os) %> |
<%= link_to 'Back', os_index_path %>
