<div class="card">
  <%= render 'shared/show_header', {object: @estado, titulo: "Estado "+ @estado.nome} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= render 'shared/field_card', {campo: "Sigla", valor: @estado.sigla} %>
      <%= render 'shared/field_card', {campo: "IBGE", valor: @estado.ibge} %>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">
        <h3><%= new_table_header(new_cidade_path)%> Cidades</h3>
      </div>
      <div class="col-sm" align=right>
        <%= search_form_for @q, url: @estado do |f| %>
          <%= f.search_field :nome_cont %>
          <%= button_tag( :class => "btn btn-sm btn-outline-dark") do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'cidades/table', cidades: @cidades %>
  </div>
</div>
