<h1><%= index_button(estados_path) %>
<%= edit_button(edit_estado_path(@estado)) %> Estado</h1>
<p>
  <strong>Sigla:</strong>
  <%= @estado.sigla %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @estado.nome %>
</p>

<p>
  <strong>Ibge:</strong>
  <%= @estado.ibge %>
</p>

<h3 class="page-header"><%= new_table_header(new_cidade_path)%> Cidades</h3>
<%= render 'cidades/table', cidades: @cidades %>

