<!DOCTYPE html>
<html>
  <head>
    <title>Tessi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="d-print-none col-sm-2 col-md-1 sidebar">
          <%= render partial: 'shared/navigation' %>
        </div>
        <div class="d-print-none col-sm-2 col-md-1 main">
        </div>
        <div class="col-sm-9 sm-offset-3 col-md-10 md-offset-2 main">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
