<%= simple_form_for(@conexao) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.association :pessoa, label_method: :nome %>
      </div>
      <div class="col">
        <%= f.association :plano, label_method: :nome %>
      </div>
      <div class="col-4">
        <%= f.input :tipo, collection: Conexao.tipos.keys %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= f.association :contrato, collection: @contratos, label_method: :id %>
      </div>
      <div class="col">
        <%= f.association :ponto, collection: Ponto.ativo.order(:nome), label_method: :nome, input_html: {onchange: 'carregarIPs()'} %>
      </div>
      <div class="col-2">
        <%= f.input :ip.to_s, collection: [@conexao.ip.to_s] + (@conexao.ponto&.ips_disponiveis).to_a %>
      </div>
      <div class="col">
        <%= f.input :usuario %>
      </div>
      <div class="col-2">
        <%= f.input :senha %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :mac, input_html: {onkeyup: 'formatMAC()'} %>
      </div>
      <div class="col">
        <%= f.input :velocidade %>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <%= f.input :observacao %>
      </div>
      <div class="col">
        <%= f.association :caixa, collection: @caixas, label_method: :nome %>
      </div>
      <div class="col">
        <%= f.input :porta %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.input :latitude %>
      </div>
      <div class="col-3">
        <%= f.input :longitude %>
      </div>
      <div class="col">
        <%= f.input :bloqueado %>
      </div>
      <div class="col">
        <%= f.input :inadimplente %>
      </div>
      <div class="col">
        <%= f.input :auto_bloqueio %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag( type: 'button', onclick: "getConexaoLocation()", class: 'btn btn-primary') do %>
      <i class="fa fa-location_arrow" aria-hidden="true"></i> GPS
    <% end %>
    <%= button_tag(:class => "btn btn-primary") do %>
      <i class="fas fa-save" aria-hidden="true"></i> Salvar
    <% end %>
  </div>
<% end %>
