
<%= simple_form_for(@conexao) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :pessoa %>
    <%= f.association :plano %>
    <%= f.association :ponto %>
    <%= f.input :ip %>
    <%= f.input :velocidade %>
    <%= f.input :bloqueado %>
    <%= f.input :auto_bloqueio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
