<div class="card">
  <%= render '/shared/table_header', {object: @conexoes, search_string: :pessoa_nome_cont} %>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <% if !defined?(exclude) or exclude != 'pessoa' %>
              <th>Pessoa</th>
            <% end %>
            <th>Plano</th>
            <% if !defined?(exclude) or exclude != 'ponto' %>
              <th>Ponto</th>
            <% end %>
            <th>IP</th>
            <th>Bloq.</th>
            <th>Inadim.</th>
          </tr>
        </thead>

        <tbody>
          <% @conexoes.each do |conexao| %>
            <tr>
              <% if !defined?(exclude) or exclude != 'pessoa' %>
                <td><%= link_to conexao.pessoa.nome, conexao.pessoa %></td>
              <% end %>
              <td><%= link_to conexao.plano.nome, conexao.plano %></td>
              <% if !defined?(exclude) or exclude != 'ponto' %>
                <td><%= link_to conexao.ponto.nome, conexao.ponto %></td>
              <% end %>
              <td><%= link_to conexao.ip, conexao %></td>
              <td><%= conexao.bloqueado.as_checkbox %></td>
              <td><%= conexao.inadimplente.as_checkbox %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @conexoes, :params => {:tab => "conexoes"} %>
</div>