<div class="card">
  <%= render 'shared/show_header', {object: @conexao, titulo: "Conexão "+ @conexao.pessoa.nome} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= link_to @conexao.pessoa do %>
        <%= render 'shared/field_card', {campo: "Assinante", valor: @conexao.pessoa.nome} %>
      <% end %>
      <%= link_to 'http://'+@conexao.ip.to_s, target: "_blank" do %>
        <%= render 'shared/field_card', {campo: "IP", valor: @conexao.ip} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "Usuário", valor: @conexao.usuario} %>
      <%= render 'shared/field_card', {campo: "Senha", valor: @conexao.senha} %>
      <%= link_to @conexao.plano do %>
        <%= render 'shared/field_card', {campo: "Plano", valor: @conexao.plano.nome} %>
      <% end %>
      <%= link_to @conexao.ponto do %>
        <%= render 'shared/field_card', {campo: "Ponto de Acesso", valor: @conexao.ponto.nome} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "Bloqueado", valor: @conexao.bloqueado.as_simnao.capitalize} %>
      <%= render 'shared/field_card', {campo: "Observação", valor: @conexao.observacao} %>
      <%= render 'shared/field_card', {campo: "Velociade Personalizada", valor: @conexao.velocidade} %>
      <%= render 'shared/field_card', {campo: "Auto Bloqueio", valor: @conexao.auto_bloqueio.as_simnao.capitalize} %>
      <%= render 'shared/field_card', {campo: "Tempo Logado", valor: @conexao.status_hotspot['uptime'] || "Desconectado"} %>

    </div>
  </div>
</div>
