<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#conexao">Conexão</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#radius">Radius</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#autenticacao">Autenticação</a>
  </li>
</ul>

<div class="tab-content" id="conexao-tabs">
<div class="tab-pane fade show active" id="conexao" role="tabpanel" aria-labelledby="conexao-tab">
<div class="card">
  <%= render 'shared/show_header', {object: @conexao, titulo: "Conexão "+ @conexao.pessoa.nome} %>
  <div class="card-body">
    <div class="card-columns" style="column-count: 4">
      <%= link_to @conexao.pessoa do %>
        <%= render 'shared/field_card', {campo: "Assinante", valor: @conexao.pessoa.nome} %>
      <% end %>
      <%= link_to 'http://'+@conexao.ip.to_s, target: "_blank" do %>
        <%= render 'shared/field_card', {campo: "IP", valor: @conexao.ip} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "Usuário", valor: @conexao.usuario} %>
      <%= render 'shared/field_card', {campo: "Senha", valor: @conexao.senha} %>
      <%= link_to @conexao.plano do %>
        <%= render 'shared/field_card', {campo: "Plano", valor: @conexao.plano.nome} %>
      <% end %>
      <%= link_to @conexao.ponto do %>
        <%= render 'shared/field_card', {campo: "Ponto de Acesso", valor: @conexao.ponto.nome} %>
      <% end %>
      <%= render 'shared/field_card', {campo: "Suspenso", valor: @conexao.bloqueado.as_simnao.capitalize,
        cor: @conexao.bloqueado ? 'bg-warning' : 'bg-light'} %>
      <%= render 'shared/field_card', {campo: "Inadimplente", valor: @conexao.inadimplente.as_simnao.capitalize,
        cor: @conexao.inadimplente ? 'bg-warning' : 'bg-light'} %>
      <%= render 'shared/field_card', {campo: "Observação", valor: @conexao.observacao} %>
      <%= render 'shared/field_card', {campo: "Velociade Personalizada", valor: @conexao.velocidade} %>
      <%= render 'shared/field_card', {campo: "Auto Bloqueio", valor: @conexao.auto_bloqueio.as_simnao.capitalize} %>
    </div>
  </div>
</div>

</div>
<div class="tab-pane fade" id="radius" role="tabpanel" aria-labelledby="radius-tab">
  <h3><%= @conexao.pessoa.nome %></h3>
  <%= render 'conexao_verificar_atributos/table' %>
  <%= render 'conexao_enviar_atributos/table' %>
</div>
<div class="tab-pane fade" id="autenticacao" role="tabpanel" aria-labelledby="autenticacao-tab">
  <h3><%= @conexao.pessoa.nome %></h3>
  <%= render 'autenticacoes/table' %>
</div>
