<div class="row">
<div class="card col-sm">
  <div class="card-header">
    <h3><%= index_button(@bairro.cidade) %>
    <%= edit_button(edit_bairro_path(@bairro)) %> Bairro</h3>
  </div>
  <div class="card-body">
    <p>
      <strong>Nome:</strong>
      <%= @bairro.nome %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @bairro.cidade.nome_uf %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @bairro.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @bairro.longitude %>
    </p>
  </div>
</div>
<div class="card col-sm">
  <p align=center>
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x300&center=#{@bairro.latitude},#{@bairro.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
  </p>
</div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm">
        <h3><%= new_table_header(new_logradouro_path)%> Logradouros</h3>
      </div>
      <div class="col-sm" align=right>
        <%= search_form_for @q, url: @logradouro do |f| %>
          <%= f.search_field :nome_cont %>
          <%= button_tag( :class => "btn btn-sm btn-outline-dark") do %>
            <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'logradouros/table', logradouros: @logradouros %>
  </div>
</div>
